

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

.site-name{
    color: aliceblue;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
}
.nav-bar{
    height: 2rem;
    width:80rem;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid #94b2df;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #94b2df, #3781e2);
    
}

.nav-bar-right-end ul{
    /* background-color: antiquewhite; */
    list-style: none;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: start;
}
.no-dec{
    text-decoration: none;
    color: aliceblue;
}
